<h2>Users</h2>

<button
  (click)="
    addUser({ firstName: 'Robert', lastName: 'Biat Calumea', isActive: true })
  "
  [disabled]="!enableAdd"
  class="btn btn-block mb-3"
>
  Add new User
</button>

<ul class="list-unstyled" *ngIf="users?.length > 0 && !loading">
  <li
    class="card card-body mb-3"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
  >
    <h3>
      {{ user.firstName }} {{ user.lastName }}
      <small>
        <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </button>
      </small>
    </h3>

    <ul class="list-group" *ngIf="user.address && !user.hide">
      <li class="list-group-item">And I live in {{ user.address.city }}</li>
      <li class="list-group-item">{{ user.address.street }}</li>
      <li class="list-group-item">{{ user.address.number }}</li>
      <li class="list-group-item">
        Registration Date: {{ user.registered | date }}
      </li>
    </ul>
  </li>
</ul>

<h1 *ngIf="loading">Loading...</h1>
